body {
  margin: 10pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 60em) {
  .column {
    width: 50%;
    float: left;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
    'aaa aaa bbb bbb'
    'ccc ccc ccc ccc';
    gap: 5px;
    padding: 5px;
    margin-bottom: 20px;
  }

  .column {
    width: 50%;
    float:left;
  }
}

.item0 {
  grid-area: aaa;
}

.item1 {
  grid-area: bbb;
}

.item2 {
  grid-area: ccc;
}


